
<div class="flex flex-row justify-between bg-gray-800 p-3">
   <div class="w-auto"><img class="w-32" src="../../../assets/icons/chinchin_b-01W.svg" alt="pagochinchin"></div>
   <div class="mx-auto"></div>
   <div class="flex align-middle w-auto px-2"><button class="bg-transparent"><img class="w-3" src="../../../assets/icons/menu.svg" alt="Menu"></button></div>
   <div class="flex align-middle w-auto px-2"><button (click)="OnClose()" class="bg-transparent"><img class="w-4" src="../../../assets/icons/exit_to_app.svg" alt="exit"></button></div>
</div>
