
<footer class="bg-white sticky bottom-0 px-5 py-4 border-b-4">
    <div class="flex flex-row mx-5">
        <div class="basis-4/12"><img class="w-80 p-0" src="../../../assets/img/chinchin_b-r.png" alt=""></div>
        <div class="basis-8/12"><p class="text-justify text-sm font-light">Chinchin te da la libertad para manejar tu dinero sin intermediarios. A través de nuestra plataforma de dinero digital podrás ahorrar en divisas, realizar transacciones a cualquier parte del mundo, desde cualquier dispositivo de manera segura, fácil y con bajo costo.</p></div>
    </div>
</footer>
